<config platform="project" template="project (default)">Created: Tue Sep 2 09:20:23 2014
By: sherryzhu
Using Template: project (default)

&lt;description to go here>
<option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="" name="config" fromDef="true"/>
    <option value="HarvestHijinks_v2" name="name" fromDef="true"/>
    <option value="HarvestHijinks_v2" name="caption" fromDef="true"/>
    <option value="sherryzhu" name="provider" fromDef="true"/>
    <option value="(C) sherryzhu" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
